.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: all;}


#fff{
  background-color: #b1b4b9;
  width: 50%;
  height: 50%;
}
#cadre{
  margin-top: 9%;
  border:8px solid gainsboro;
  width: auto;
  height: auto;
  background-color: black;
}
nav{

  padding: 3%;
}
#sous{
  border: 30px solid black;
}
.imp{
  margin-right: 9%;
  margin-left: 3%;
  font-size: 300%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  background-color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App-link {
  color: #61dafb;
}
img{
  margin-top: 3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(390deg);
  }
}
button{
  FONT-WEIGHT: blod ;
  width : 60px;
  height: 60px;
  background-color: black;
  color: white;
  margin: 0.5%;
  font-size: 120%;
}

button:hover{
  background-color: wheat;
}

#calc{
  margin-top: 13%;
  border: 2px solid green;
}